//COLORS
$dark-grey: hsl(0, 0%, 20%);
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #fafafa;
$turquesa: #43c59e;
$eva-purple: #652b78;
$eva-purple-l: #8b3ba5;
//SIZING
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
//FONT SIZES
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
