.header {
  padding: 4rem 2rem 4rem 2rem;
  background-color: $grey;
  .header__title {
    font-size: 4rem;
  }
  .header__subtitle {
    font-size: 1.6rem;
  }
  p {
    margin: 0;
    color: white;
  }
}
