.newComponent {
  cursor: pointer;
  height: 100%;
  line-height: 50px;
  font-size: 13px;
  // border: 1px solid #ccc; its specified in the sheet but looks bad
  .newComponent__title,
  .newComponent__date {
    color: #333;
  }
  span {
    color: #999;
  }
  &:hover {
    background-color: $off-white;
  }
}
